@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  background-image: url(/static/background-414-896-iphone-xr.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Noto Sans', sans-serif;
}

/* Set base font size for the application */
body {
  font-size: 1rem;
}

/* Use relative units for other text elements */
h1 {
  font-size: 2em; /* 2 times the base font size */
}

h2 {
  font-size: 1.5em;
}

p, li, a {
  font-size: 1em; /* 1 times the base font size */
}

/* Use media queries for specific device characteristics */
@media (max-width: 768px) {
  body {
    font-size: 0.875rem;
  }

  h1 {
    font-size: 1.75em;
  }

  /* Adjust other elements as necessary */
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 2em;
  }

  /* Adjust other elements as necessary */
}


@media (min-width: 600px) {
  #app {
    background-image: url(/static/background-912-1368-pro.svg);
  }
}

@media (min-width: 768px) {
  #app {
    background-image: url(/static/background-1368-912-wide.svg);
  }
}

@media (min-width: 1024px) {
  #app {
    background-image: url(/static/desktop-1920-1260.svg);
  }
}

