@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  background-image: url(/static/background-414-896-iphone-xr.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Noto Sans', sans-serif;
}

@media (min-width: 600px) {
  #app {
    background-image: url(/static/background-912-1368-pro.svg);
  }
}

@media (min-width: 768px) {
  #app {
    background-image: url(/static/background-1368-912-wide.svg);
  }
}

@media (min-width: 1024px) {
  #app {
    background-image: url(/static/desktop-1920-1260.svg);
  }
}

